.cycle {
	margin-bottom: 120px;

	@include tablet {
		margin-bottom: 80px;
	}

	@include mobile {
		margin-bottom: 60px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 0;
	}

	&__text-row {
		position: relative;
		width: 100%;
		height: 50px;

		@include tablet {
			height: 40px;
		}

		@include mobile {
			height: 30px;
		}
	}

	&__text {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 32px;
		line-height: 1.28;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-100);
		white-space: nowrap;

		@include tablet {
			font-size: 24px;
		}

		@include mobile {
			font-size: 16px;
		}

		&--left {
			position: absolute;
			right: calc(100% - 63.33% + 20px);
			left: auto;

			@include tablet {
				right: calc(100% - 60% + 20px);
			}

			@include mobile {
				right: calc(100% - 53.58% + 5px);
			}
		}

		&--right {
			position: absolute;
			left: calc(63.33% + 20px);
			right: auto;
			transform: translateX(180px);

			@include tablet {
				left: calc(60% + 20px);
				transform: translateX(130px);
			}

			@include mobile {
				left: calc(53.58% + 5px);
				transform: translateX(75px);
			}
		}
	}

	&__bar {
		position: relative;
		width: 100%;
		height: 1px;
		background-color: rgba(30, 30, 30, 0.2);
		display: flex;
		align-items: center;
	}

	&__line {
		height: 1px;
		background-color: var(--dark-20);

		&--left {
			position: absolute;
			left: 0;
			width: 63.33%;
			top: 0;

			@include mobile {
				width: 52.25%;
			}
		}

		&--right {
			position: absolute;
			right: 0;
			width: 28.19%;
			top: 0;

			@include mobile {
				width: 36.87%;
			}
		}
	}

	&__number-wrapper {
		position: absolute;
		left: 63.33%;
		top: 50%;
		transform: translateY(-50%);
		background-color: var(--white-100);
		padding: 0px 40px;
		border-radius: 20px;
		z-index: 2;

		@include tablet {
			padding: 0px 30px;
			border-radius: 15px;
			left: 60%;
		}

		@include mobile {
			left: 53.58%;
			padding: 0px 15px;
			border-radius: 10px;
		}
	}

	&__number {
		font-family: var(--font-family), Arial, sans-serif;
		font-weight: 700;
		font-size: 200px;
		line-height: 0.9;
		text-transform: uppercase;
		color: var(--dark-100);
		display: block;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin: -10px 0;

		@include tablet {
			font-size: 150px;
			margin: -8px 0;
		}

		@include mobile {
			font-size: 90px;
			margin: -5px 0;
		}
	}

	&__image-container {
		position: relative;
		width: 100%;
		height: 451px;
		overflow: hidden;
		margin-top: 100px;

		@include tablet {
			height: 350px;
			margin-top: 80px;
		}

		@include mobile {
			height: 250px;
			margin-top: 60px;
		}
	}

	&__image-object {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}

	&__overlay {
		position: absolute;
		bottom: 53%;
		right: 120px;
		pointer-events: none;

		@include tablet {
			display: none;
		}

		@include mobile {
			display: none;
		}
	}

	&__text-wrapper {
		position: relative;
		z-index: 2;
		background-color: transparent;
	}

	&__text-white {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 18px;
		line-height: 1.4em;
		text-transform: uppercase;
		color: var(--white-100);
		margin: 0;
		white-space: nowrap;

		@include tablet {
			font-size: 16px;
		}
	}
}
