.photo-page {
	width: 100%;

	&__hero {
		width: 100%;
		margin-top: 76px;
		padding: 80px 0 0px;
		background-color: var(--white-100);

		@include tablet {
			margin-top: 60px;
			padding: 60px 0 0px;
		}

		@include mobile {
			margin-top: 50px;
			padding: 40px 0 0px;
		}
	}

	&__content {
		max-width: 608px;
		margin-bottom: 40px;

		@include tablet {
			max-width: 100%;
			margin-bottom: 30px;
		}

		@include mobile {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 40px;
		line-height: 1.4em;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-100);
		margin: 0 0 20px 0;

		@include tablet {
			font-size: 32px;
			margin-bottom: 16px;
		}

		@include mobile {
			font-size: 24px;
			margin-bottom: 12px;
		}
	}

	&__description {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 14px;
		line-height: 1.4em;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-80);
		margin: 0;

		@include tablet {
			font-size: 13px;
		}

		@include mobile {
			font-size: 12px;
			line-height: 1.5em;
		}
	}

	&__image-wrapper {
		width: 100%;
		height: 350px;
		overflow: hidden;

		@include tablet {
			height: 280px;
		}

		@include mobile {
			height: 200px;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		display: block;
	}

	&__3d-viewer {
		width: 100%;
		padding: 80px 0;
		background-color: var(--grey-back);

		@include tablet {
			padding: 60px 0;
		}

		@include mobile {
			padding: 40px 0;
		}
	}

	&__3d-placeholder {
		width: 100%;
		height: 500px;
		background-color: var(--white-100);
		border: 2px dashed var(--dark-20);
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&::before {
			content: "Здесь будут размещены 3D модели";
			font-family: var(--font-family);
			font-weight: 500;
			font-size: 16px;
			color: var(--dark-40);
			text-align: center;
			padding: 0 20px;

			@include mobile {
				font-size: 14px;
			}
		}

		@include tablet {
			height: 400px;
		}

		@include mobile {
			height: 300px;
		}
	}
}
