.where {
	padding: 80px 0;

	@include tablet {
		padding: 60px 0;
	}

	@include mobile {
		padding: 40px 0;
	}

	&__title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 38px;
		line-height: 140%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-100);
		margin: 0 0 60px 0;

		@include tablet {
			font-size: 38px;
			margin-bottom: 49px;
		}

		@include mobile {
			font-size: 24px;
			margin-bottom: 30px;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0;

		@include tablet {
			grid-template-columns: 1fr 1fr;
			gap: 0 100px;
		}

		@include mobile {
			grid-template-columns: 1fr;
			gap: 0;
		}
	}

	&__item {
		position: relative;
		padding: 40px 60px;
		display: flex;
		flex-direction: column;
		min-height: 280px;

		@include tablet {
			padding: 80px 0 40px 0;
			min-height: auto;
			margin-bottom: 78px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}

		@include mobile {
			padding: 25px 20px;
			min-height: auto;
			margin-bottom: 30px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}

		&:nth-child(4),
		&:nth-child(5) {
			grid-column: span 1.5;

			@include tablet {
				grid-column: span 1;
			}

			@include mobile {
				grid-column: span 1;
			}
		}

		&:nth-child(1) {
			background-color: var(--grey-back);
			border-radius: 0 80px 80px 0;

			@include tablet {
				background-color: var(--white-100);
				padding: 80px 30px 40px 30px;
			}

			@include mobile {
				background-color: var(--white-100);
				padding: 25px 20px;
			}
		}

		&:nth-child(3) {
			background-color: var(--grey-back);
			border-radius: 80px 0 0 80px;

			@include tablet {
				background-color: var(--white-100);
				padding: 80px 30px 40px 30px;
			}

			@include mobile {
				background-color: var(--white-100);
				padding: 25px 20px;
			}
		}

		&:nth-child(5) {
			background-color: var(--grey-back);
			border-radius: 80px;

			@include tablet {
				background-color: var(--white-100);
				padding: 80px 30px 40px 30px;
			}

			@include mobile {
				background-color: var(--white-100);
				padding: 25px 20px;
			}
		}
	}

	&__icon {
		display: block;
		margin-bottom: 20px;
		flex-shrink: 0;
		width: 60px;
		height: 60px;

		@include mobile {
			width: 50px;
			height: 50px;
			margin-bottom: 15px;
		}
	}

	&__item-title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-100);
		margin: 0 0 12px 0;

		@include mobile {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

	&__item-description {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
		color: var(--dark-60);
		margin: 0;

		@include mobile {
			font-size: 11px;
		}
	}
}
