.footer {
	width: 100%;
	background-color: var(--white-100);
	padding: 20px 0;
	margin-top: 120px;

	@include tablet {
		padding: 40px 0 30px;
		margin-top: 80px;
	}

	@include mobile {
		padding: 40px 0 20px;
		margin-top: 60px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		margin-bottom: 50px;

		@include tablet {
			flex-wrap: wrap;
			gap: 40px 30px;
			margin-bottom: 50px;
		}

		@include mobile {
			flex-direction: column;
			gap: 40px;
			margin-bottom: 40px;
		}
	}

	&__row {
		display: contents;

		@include tablet {
			display: contents;
		}

		@include mobile {
			display: flex;
			gap: 100px;
			width: 100%;
		}
	}

	&__left {
		flex: 0 0 324px;

		@include tablet {
			flex: 0 0 100%;
			order: -1;
			margin-bottom: 30px;
		}

		@include mobile {
			flex: none;
			margin-bottom: 10px;
		}
	}

	&__logo {
		width: 258px;
		height: 28px;
		margin-bottom: 20px;

		@include tablet {
			margin-bottom: 15px;
		}

		@include mobile {
			width: 180px;
			height: auto;
			margin-bottom: 15px;
		}
	}

	&__description {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 12px;
		line-height: 140%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-100);
		opacity: 0.42;

		@include tablet {
			max-width: 500px;
		}

		@include mobile {
			font-size: 10px;
			line-height: 150%;
		}
	}

	&__nav,
	&__contacts,
	&__docs {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include tablet {
			gap: 15px;
		}

		@include mobile {
			gap: 20px;
		}
	}

	&__title {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 10px;
		line-height: 140%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-40);
		margin: 0;

		@include mobile {
			font-size: 9px;
			margin-bottom: 5px;
		}
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 15px;

		@include mobile {
			gap: 20px;
		}
	}

	&__item {
		margin: 0;
	}

	&__link {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
		color: var(--dark-100);
		text-decoration: none;
		transition: color 0.3s ease;

		&:hover {
			color: var(--orange-light);
		}

		@include mobile {
			font-size: 12px;
			line-height: 150%;
		}
	}

	&__bottom {
		position: relative;
		padding-top: 20px;

		@include mobile {
			padding-top: 20px;
		}
	}

	&__line {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: var(--dark-20);
	}

	&__copyright {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 10px;
		line-height: 140%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-100);
		margin: 0;

		@include mobile {
			font-size: 10px;
			line-height: 160%;
		}
	}

	&__copyright-br {
		display: none;

		@include mobile {
			display: inline;
		}
	}
}
