.mobile-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 75%;
	height: 100vh;
	height: 100dvh; 
	background-color: var(--dark-100);
	z-index: 99;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0 20px;
	
	transform: translateX(100%);
	transition: transform 0.3s ease;
	
	&.is-open {
		transform: translateX(0);
	}

	@media (min-width: 768px) {
		display: none;
	}

	&__nav {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-bottom: 60px;
		margin-left: 12px;
	}

	&__link {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--white-100);
		text-decoration: none;
		transition: opacity 0.3s ease;

		&:hover {
			opacity: 0.8;
		}

		&.active {
			opacity: 0.3;
		}
	}

	&__socials {
		display: flex;
		gap: 16px;
		position: absolute;
		bottom: 20px;
		left: 20px;

		@supports (-webkit-touch-callout: none) {
			bottom: 60px;
		}
	}

	&__social {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background-color: var(--orange-light);
		border-radius: 5px;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: var(--orange-dark);
		}

		img {
			width: 18px;
			height: 16px;
		}
	}
}

.mobile-menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	height: 100dvh;
	backdrop-filter: blur(2px);
	z-index: 98;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
	
	&.is-open {
		opacity: 1;
		pointer-events: auto;
	}

	@media (min-width: 768px) {
		display: none;
	}
}
