.hero {
	width: 100%;
	height: 760px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 76px;

	@include tablet {
		height: 600px;
	}

	@include mobile {
		min-height: 825px;
		height: 825px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.container {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0;
		}
	}

	&__top {
		position: absolute;
		top: 53%;
		left: 52%;
		transform: translate(-50%, -50%);
		z-index: 2;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include mobile {
			top: 40%;
			gap: 8px;
		}
	}

	&__bottom {
		position: absolute;
		bottom: 40px;
		right: 120px;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 40px;
		max-width: 398px;

		@include tablet {
			right: 40px;
			bottom: 30px;
			max-width: 500px;
		}

		@include mobile {
			position: static;
			max-width: 100%;
			align-items: center;
			padding: 0 29px 40px;
			margin-top: auto;
			gap: 20px;
		}
	}

	&__logo {
		width: 673px;
		height: 93px;
		margin: 0 0 9px;
		display: block;
		object-fit: contain;

		@include tablet {
			width: 350px;
			height: auto;
		}

		@include mobile {
			width: 318px !important;
			height: 44px !important;
			margin: 0;
		}
	}

	&__subtitle {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--white-100);
		margin-bottom: 40px;
      text-align: left;
      margin-left: 4px;
		white-space: nowrap;

		@include mobile {
			font-size: 14px;
			margin-bottom: 0;
			text-align: center;
			margin-left: 0;
		}
	}

	&__text {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: right;
      color: var(--white-100);

		@include mobile {
			font-size: 12px;
			text-align: center;
			max-width: 318px;
		}
	}

	&__btn {
		width: 285px;
		height: 59px;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		padding: 6px 6px 6px 30px;
		background-color: var(--white-100);
		border: none;
		border-radius: 30px;
		cursor: pointer;
		transition: all 0.3s ease;
		flex-shrink: 0;

		font-family: var(--font-family);
		font-weight: 700;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-100);

		&:hover {
			cursor: pointer;
			.hero__btn-circle {
				background-color: var(--orange-light);
			}
		}

		@include mobile {
			font-size: 14px;
			width: 100%;
			max-width: 285px;
			padding: 14px 14px 14px 28px;
		}

		&--secondary {
			display: none;
			text-decoration: none;

			@include mobile {
				display: flex;
				justify-content: center;
				background-color: transparent;
				border: 1px solid var(--white-100);
				color: var(--white-100);
				padding: 6px 30px;
				font-size: 14px;
			}
		}
	}

	&__btn-circle {
		width: 47px;
		height: 47px;
		border-radius: 50%;
		background-color: var(--dark-100);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		transition: background-color 0.3s ease;

		img {
			width: 37px;
			height: 37px;
         rotate: -45deg;
		}

		@include mobile {
			width: 47px;
			height: 47px;
		}
	}
}
