.steps {
	padding: 80px 0 120px;
	background-color: var(--white-100);

	@include tablet {
		padding: 60px 0 80px;
	}

	@include mobile {
		padding: 40px 0 60px;
	}

	&__subtitle {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-100);
		margin-bottom: 4px;
	}

	&__title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 38px;
		line-height: 140%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-100);
		margin-bottom: 40px;

		@include mobile {
			font-size: 24px;
		}
	}

	&__grid-wrapper {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 178px;
			left: 50%;
			transform: translateX(-50%);
			width: 100vw;
			height: 1px;
			background-color: var(--dark-100);
			z-index: 0;

			@include tablet {
				display: none;
			}
		}

		@include tablet {
			padding: 0;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		padding: 0 2px;
		outline: 8px solid var(--white-100);
		position: relative;
		z-index: 1;

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
			gap: 14px;
			padding: 0;
			outline: none;
		}

		@include mobile {
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}

	&__card {
		position: relative;
		padding: 20px;
		background: #f4f4f4;
		border-radius: 30px;
		height: 355px;
		display: flex;
		flex-direction: column;
		outline: 2px solid var(--white-100);
		z-index: 2;

		@include tablet {
			height: 355px;
			outline: none;
		}

		@include mobile {
			height: auto;
			outline: none;
		}

		&--orange {
			background-color: var(--orange-light);

			.steps__number,
			.steps__card-title,
			.steps__card-text {
				color: var(--white-100);
			}
		}
	}

	&__number {
		font-family: var(--font-family);
		font-weight: 200;
		font-size: 90px;
		line-height: 1.4em;
		text-transform: uppercase;
		color: var(--dark-100);
		text-align: right;
		display: block;
		margin-bottom: 0;

		@include mobile {
			font-size: 60px;
		}
	}

	&__card-title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--dark-100);
		margin-bottom: 23px;

		@include mobile {
			font-size: 16px;
			margin-bottom: 15px;
		}
	}

	&__card-text {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 12px;
		line-height: 140%;
		text-transform: uppercase;
		color: var(--dark-60);
		margin-top: auto;

		@include mobile {
			font-size: 11px;
		}
	}
}
